html,
body {
  height: 100%;
  margin: 0;
  body,
  html {
    overflow-x: hidden;
    overflow-y: auto;
  }

  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
  background-color: black;
}

nav,
footer {
  background-color: black;
  color: white;
}

.navbar {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

#navButton {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #292929;
}

#navButton svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: currentColor;
}

.input-group:focus-within {
  border: 0.125rem solid white;
  border-radius: 2rem;
}

.form-control,
.navbarSearch,
.input-group-text {
  background-color: #333;
  border: none;
  color: #fff;
  border-radius: 0.5rem;
}

.form-control:focus,
.navbarSearch:focus {
  outline: none;
  box-shadow: none;
}

.input-group-text svg,
.navbarSearch {
  color: white;
}

#premiumButton {
  color: black;
  background-color: white;
  transition: all 0.3s ease;
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
}

#premiumButton:hover {
  transform: scale(1.1);
}

#installAppLink,
#bell {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

#installAppLink:hover {
  color: #ccc;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  padding: 0;
}

.dropdown-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.dropdown-menu {
  background-color: #292929;
}

@media (max-width: 768px) {
  #navButton {
    width: 2rem;
    height: 2rem;
  }

  #navButton svg {
    width: 1rem;
    height: 1rem;
  }

  .dropdown-img {
    width: 2rem;
    height: 2rem;
  }

  #premiumButton {
    font-size: 0.7rem;
    padding: 0.25rem 0.8rem;
  }

  #installAppLink {
    font-size: 0.7rem;
  }
}

.bi-pin {
  color: #1ed760;
}

.list-group-item {
  border: 0;
  padding: 0;
  background-color: #121212;
}

.menuPlaylist {
  font-size: 14px;
}

.menuAlbumImage {
  border-radius: 5px;
}

aside {
  background-color: #121212;
}

.titleCrea {
  background-color: #1e1e1e;
}

#songName {
  font-size: 15px;
}

#songArtist {
  font-size: 12px;
}

.songTime {
  font-size: 11px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.row {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}

main.container-fluid {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main > .row {
  flex: 1;
  display: flex;
  align-items: stretch;
}

aside,
section {
  max-height: 83vh;
  overflow-y: auto;
}

#lastDivRightAside {
  padding-bottom: 5rem;
}

aside::-webkit-scrollbar {
  width: 4px;
}

aside::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

aside::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
html::-webkit-scrollbar {
  width: 4px;
}

html::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
section::-webkit-scrollbar {
  width: 4px;
}

section::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

section::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

main.container-fluid {
  height: 100vh;
}

.row.h-100 {
  height: 100%;
}

aside.col-3,
section.col-7,
aside.col-2 {
  height: 100vh;
  overflow-y: auto;
}

.roles {
  font-size: 13px;
  color: rgba(245, 245, 245, 0.774);
}

.bg-gray {
  background-color: #1f1f1f;
}

#toggleLibreriaBtn {
  background-color: transparent;
  border: solid rgba(255, 255, 255, 0.292) 1px;
}
