#navButton,
.navbarSearch {
  background-color: #292929;
}

nav {
  background-color: black;
}

.bi-pin {
  color: #1ed760;
}

.list-group-item {
  border: 0;
}

.menuPlaylist {
  font-size: 14px;
}

.menuAlbumImage {
  border-radius: 5px;
}

.list-group-item {
  padding: -10px;
}
